.contactAll {
  justify-content: center;
  background-image: url(../../assets/contact_deneme.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.left {
  height: 100%;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;

  color: beige;
}
.left span {
  transform: rotate(-90deg);
  font-size: 6vw;
  font-weight: bold;
  line-height: 3rem;
  text-shadow: 3px 3px 5px black;
}
.right h1 {
  display: none;
  text-align: center;
}
@media only screen and (max-width: 1050px) {
  .left {
    display: none;
  }
  .right {
    display: flex;
    flex-direction: column;
  }
  .right h1 {
    display: inline-block;
    font-family: "Pacifico", cursive;
    margin-bottom: 2rem;
  }
  .middle {
    width: 10vw;
  }
  .middle img {
    min-width: 5vw;
  }
}
.middle {
  width: 5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social-media {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle img {
  max-width: 4vw;
}

.right {
  height: 100%;
  width: 50vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  h1 {
    @media only screen and (max-width: 800px) {
        margin-bottom: 10px;
    }
  }
}

.form {
  background: #2d3436;
  padding: 2rem;
  border-radius: 15px;
  width: 600px;
  @media only screen and (max-width: 800px) {
    width: 250px!important;
    padding: 1rem;
    align-self: center;
  }
  @media only screen and (max-width: 1400px) {
    width: 400px;
  }
}
.form-group{
    margin-bottom: 5px!important;
}
.form label {
  color: white;
  font-weight: 700;
  margin-bottom: 3px;
}
@media only screen and (max-width: 800px) {
  .contactAll {
    height: 100vh;
  }
  .middle {
    display: none;
  }
  .right {
    align-items: stretch;
    width: 90%;
    max-width: 600px;
  }

  .social-media-down {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .social-media-down img {
    max-width: 40px;
    margin: 3vw 1vw;
  }
}
