#root {
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #e9f1f1; */
  background-image: url("./assets/sea1.jpeg");
  background-size: cover;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1500ms linear;
}
/* HOME COMPONENT */

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 4rem !important;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.profileInfoWrap {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #327599;
  box-shadow: 15px 15px 10px rgb(109, 116, 131);
  border-radius: 1px 50px;
  color: rgb(207, 199, 199);
  font-weight: bold;
}

.title {
  font-size: 1.5em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6), 0px 8px 13px rgba(0, 0, 0, 0.6),
    0px 18px 23px rgba(0, 0, 0, 0.6);
}

.description {
  font-size: 1.1em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6), 0px 8px 13px rgba(0, 0, 0, 0.6),
    0px 18px 23px rgba(0, 0, 0, 0.6);
}
.description > ul > li {
  list-style-type: square;
}

@media only screen and (max-width: 1100px) {
  .title {
    font-size: 1.2em;
  }
  .description {
    font-size: 1em;
  }
}
.photoWrap {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .photoWrap {
    justify-content: center;
    margin-top: 3rem;
  }
  .profileInfoWrap {
    border-radius: 10px 10px;
  }
}
@media only screen and (max-width: 560px) {
  .photoWrap {
    margin-top: 1rem;
  }
  .wrap {
    max-width: 320px;
  }
  .profileInfoWrap {
    box-shadow: none;
  }
  html,
  body {
    background-image: none;
    background-color: rgb(204, 204, 219);
  }
}
